# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go external packages folder
#vendor/

# WebStorm
*.iml
# WebStorm Directory-based project format:
.idea/
.idea/workspace.xml
**/.idea/workspace.xml

# mac hidden files
.DS_Store

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Visual Studio code project files
.vscode/
tsd.json
typings/

debug

# terraform
*.tfvars
*.tfstate*
*.tar*
*.terraform/
*.terraform
*.lock.hcl
.infracost

# hpcs files
*.sigkey
CRYPTOMODULES
DOMAINS
SELECTED
